/* From uiverse.io by @satyamchaudharydev */
.loader {  
  --loader-color: #c6855f;
  width: 60%;
  height: 5px;  
  position: relative;
 }
 
 .loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 20%;
  
  animation: moving 1s ease-in-out infinite;
  ;
 }
 
 @keyframes moving {
  50% {
   width: 100%;
  }
 
  100% {
   width: 0;
   right: 0;
   left: unset;
  }
 }