.gallery {
    width: 70%;
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 40px;
}

#create-player-avatar {
    width: 100%;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#create-player-avatar:hover {
    width: 100%;
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transition: 0.8s;
}

.modGallery{
    grid-template-columns: repeat(4, 1fr);
}
