.profile {
  background-image: url('../../assets/miscellaneous/doodle.png');
  margin-top: -15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.profile-container {
  background: linear-gradient(180deg, #c65f72 0%, #2a855b63 50%, #0f51568a 100%);
  border-radius: 10px;
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

.profile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  transition: 1s;
}

.gallery-section {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  width: 90%;
  flex-wrap: wrap;
  margin: auto;
}

.gallery-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery-h3 {
  color: aliceblue;
}

.profile-h3 {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  color: white;
}

.profile-button {
  margin: 30px auto 50px auto;
  width: 100%;
  padding: 15px;
  height: 3em;
  border-radius: 4px;
  font-size: 20px;
  font-family: inherit;
  border: none;
  position: relative;
  z-index: 1;
  color: #0F5156;
  background-color: #FE9C84;
  transition: 1s;
}


.profile-button:hover {
  background-color: #0F5156;
  color: #FE9C84;
  transition: 1s;
}



.profile-container-notplayer {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}