.current-position{
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.226);
    padding: 10px;
    border-radius: 10px;
}

.current-position span{
    color: white;
    font-weight: bold;
    margin: 10px;
}