.home_container {
    width: 100%;
    height: auto;
    background: #0F5156;
}

#home-wallpaper{
    width: 100%;
    z-index: 1;
    // position: absolute;
}

.logo-location{
    display: flex;
    justify-content: center;
    width: 100%;    
    align-items: center;
}

#home-logo{
    width: 300px;
    position: absolute;    
    margin-top: 100px;
    filter: drop-shadow(0px 10px 5px rgba(34, 34, 34, 0.39));
}

.chart{    
    display: flex;
    justify-content: center;
    align-items: center;
}





@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1 {
	font-family: 'Arima Madurai', cursive;
	color: black;
	font-size: 4rem;
	letter-spacing: -3px;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	position: relative;
	z-index: 3;
}

.container {
    z-index: 1;
    /* position: relative; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 35rem; */
    /* padding: 2rem;*/
}
