* {
  font-family: 'Kanit', sans-serif;
}
.playerCard_container {
  width: 260px;
  height: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.playerCard_container.small {
  width: 236px;
  height: 128px;
}

.playerCard_img_container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2a7f56;
}

.playerCard_img_container img {
  width: 100px;
  height: 100px;
}

.playerCard_text_position {
  color: #6dcc5e;
  font-weight: 700;
  font-size: 22px;
}

.playerCard_text_name {
  font-weight: 400;
  font-size: 32px;
  color: #fff;
}

.playerCard_text_container p {
  font-weight: 400;
  font-size: 22px;
  color: #fff;  
}

.playerCard_text_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.one {
  background: #fed881;
}
.two {
  background: #b9df67;
}
.three {
  background: #6dcc5e;
}
.p-one {
  color: #fed881;
}
.p-two {
  color: #b9df67;
}
.p-three {
  color: #6dcc5e;
}

.small {
  transform: scale(80%, 80%);
  font-size: 30px;
}

.reflect-gold {
    width: 120px;
    height: 120px;
    position: relative;
    float: left;
    background: linear-gradient(120deg, #d6b600 30%, #fad91c 38%, #ffe868 
    40%, #d6b600 48%);
    border-radius: 50%;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
}
.reflect-silver {
    width: 120px;
    height: 120px;
    position: relative;
    float: left;
    background: linear-gradient(120deg, #949494 30%, #d4d4d4 38%, #d4d4d4 
    40%, #949494 48%);
    border-radius: 50%;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
}
.reflect-bronze {
    width: 120px;
    height: 120px;
    position: relative;
    float: left;
    background: linear-gradient(120deg, #c9743c 30%, #e79056 38%, #e79056 
    40%, #c9743c 48%);
    border-radius: 50%;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
}

@keyframes load89234 {
  100% {
    background-position: -100% 0;
  }
}