.cmp-avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar-img{
    width: 100%;
   
}

.glass-effect {
    position: relative;
    border-radius: 100%;
    float: right;    
    background: linear-gradient(120deg, #e5e5e573 30%, #f0f0f0b2 38%, #f0f0f0b2 
    40%, #e5e5e573 48%);
    margin-top: 10px;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
    
  }

  .avatar span{
    font-family: 'Kanit';
    color: white;
  }


@keyframes load89234 {
    100% {
      background-position: -100% 0;      
    }
  }