.banner-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px;
}

.centered-line{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tree-wallpaper{
    background-image: url('./assets/miscellaneous/footer-trees2.png');
    background-position: bottom;
    background-size: cover;    
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}