// $main-font:'Roboto', sans-serif;

$medium-grey: #a8a8a8;
$light-grey: #f2f2f2;
$dark-grey: #313537;
$common-blue: #0078a9;
$light-blue: #d6deee;
$dark-blue: #173654;
$color-error: #f53c3ce6;
$color-success: #33973b;
